<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ personal_info_form.as_p }}
    {{ cv_form.as_p }}
    
    <h3>Education</h3>
    {{ education_formset.management_form }}
    {% for form in education_formset %}
        {{ form.as_p }}
    {% endfor %}
    
    <h3>Experience</h3>
    {{ experience_formset.management_form }}
    {% for form in experience_formset %}
        {{ form.as_p }}
    {% endfor %}
    
    <h3>Skills</h3>
    {{ skill_formset.management_form }}
    {% for form in skill_formset %}
        {{ form.as_p }}
    {% endfor %}
    
    <h3>Projects</h3>
    {{ cv_project_formset.management_form }}
    {% for form in cv_project_formset %}
        {{ form.as_p }}
    {% endfor %}
    
    <button type="submit">Save CV</button>
</form>
