{% extends "cv/layout.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Profile Page{% endblock %}
{% block main %}
    <main class="uk-container uk-margin-top uk-margin-bottom">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="{% static 'images/1.jpg' %}" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">HTML version</h3>
                    <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."|slice:":75" }}</p>
                </div>
                <hr class="uk-divider-icon">
                <p uk-margin>
                    <a class="uk-button uk-button-secondary uk-align-center uk-button-large uk-width-1-2" href="{% url 'cv_html'%}">HTML</a>
                </p>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="{% static 'images/1.jpg' %}" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Djano version</h3>
                    <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."|slice:":75" }}</p>
                </div>
                <hr class="uk-divider-icon">
                <p uk-margin>
                    <a class="uk-button uk-button-secondary uk-align-center uk-button-large uk-width-1-2" href="{% url 'cv_django'%}">DJANGO</a>
                </p>
            </div>
        </div>
    </main>
{% endblock main %}
 