{% extends "projects/layout.html" %}
{% load static %}
{% block title %}My CV page{% endblock %} 
{% block main %}
    <main class="uk-container uk-margin-small-top uk-margin-small-bottom">
        <div>
            <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url({% static 'images/bk_img1.jpg' %});">
                <p class="uk-h4">Cover</p>
                <hr class="uk-divider-icon">

            </div>
        </div>

    </main>
{% endblock main %}