{% extends "projects/layout.html" %}
{% load static %}
{% block title %}Main page{% endblock %} 
{% block main %}
    <main class="uk-container uk-margin-small-top uk-margin-small-bottom">
        
        <div uk-slideshow="animation: fade; ratio: 7:3; autoplay: true; autoplay-interval: 2000; pause-on-hover: true" uk-slider="finite: true">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" >
        
                <div class="uk-slideshow-items">
                    <div>
                        <div class="uk-position-cover uk-animation-kenburns uk-transform-origin-center-left">
                            <img src="{% static 'images/bk_img1.jpg' %}" alt="" uk-cover>
                        </div>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <a class="uk-button uk-button-default uk-margin-small" href="{% url 'cv' %}"><h3 class="uk-margin-remove">Curriculum Vitae</h3></a>
                            <p class="uk-margin-remove">I am eager to showcase my qualifications and experiences. Please find my CV for your review</p>
                        </div>

                    </div>
                    <div>
                        <div class="uk-position-cover uk-animation-kenburns uk-transform-origin-center-right">
                            <img src="{% static 'images/bk_img2.jpg' %}" alt="" uk-cover>
                        </div>
                    </div>
                    <div>
                        <div class="uk-position-cover uk-animation-kenburns uk-transform-origin-center-left">
                            <img src="{% static 'images/bk_img3.jpg' %}" alt="" uk-cover>
                        </div>
                    </div>
                </div>
        
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>
        
            </div>
        
            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
      
    </main>
{% endblock main %}