<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load cache %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit-icons.min.js"></script>
    <link rel="icon" href="{% static 'projects/images/thumb.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'projects/images/thumb.png' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}
    <header>
        <nav class="uk-navbar-container">
            <div class="uk-container">
                <div uk-navbar>
        
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo uk-hidden@m" href="{% url 'home' %}" aria-label="Back to Home">
                            <img src="{% static 'projects/images/logo.png' %}" alt="Logo" aria-label="Back to Home" style="height: 30px;">
                        </a>
                        
                        <a class="uk-navbar-item uk-logo uk-visible@m" href="{% url 'home' %}" aria-label="Back to Home">
                            <img src="{% static 'projects/images/logo.png' %}" alt="Logo" aria-label="Back to Home" style="height: 80px;">
                        </a>
                        <ul class="uk-navbar-nav">
                            <li class="{% if selected %}uk-active{% endif %}">
                                <a href="{% url 'cv_home' %}">Profile</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{% url 'cv_html' %}">HTML version</a></li>
                                        <li><a href="{% url 'cv_django' %}">Django version</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'all_projects' %}">Projects</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {% for project in projects %}
                                            <li><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            {% if request.user.is_authenticated  %}
                                <div class="uk-text-meta uk-text-italic uk-text-center uk-margin-top">
                                    <span class="uk-text-middle ">Hi, {{ user.username }}</span>
                                </div>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'auth' %}">login/register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
        
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block main %}
    <!-- EMPTY -->
    <a href="#" uk-totop uk-scroll></a>
    <a id="target" class="uk-button uk-button-primary" href="" uk-scroll="">Scroll up</a>
{% endblock %}
{% block footer %}
{% cache 60 footer %}
<footer class="uk-section uk-margin-remove uk-section-small uk-section-muted">
    <div class="uk-container uk-flex uk-flex-between">
        <div>
            <h2>Contact:</h2>
            <ul class="uk-list">
                <li>
                    <a uk-icon="icon: mail" href="mailto:sabitshangerey@gmail.com">e-mail</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/s_sabit" target="_blank" uk-icon="icon: instagram">instagram</a>
                </li>
                <li>
                    <a href="https://github.com/Tokagero13" target="_blank" uk-icon="icon: github">github</a>
                </li>
                <li>
                    <a href="https://wa.me/+77086415391" target="_blank" uk-icon="icon: whatsapp">whatsapp</a>
                </li>
                <li>
                    <a href="https://t.me/s_sabit" target="_blank" uk-icon="icon: social">telegram</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="uk-list">
                <li>
                    <a href="{% url 'admin:index' %}" class="uk-button uk-button-deafult">Go to Admin Panel</a>
                </li>
                <li>
                    <a href="{% url 'contact_us' %}" class="uk-button uk-button-deafult">Contact us</a>
                </li>
                <li>
                    <a href="{% url 'technologies' %}" class="uk-button uk-button-deafult">Technologies</a>
                </li>
        </div>
    </div>
</footer>
{% endcache %}
{% endblock %}
</body>
</html>
