<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit-icons.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}
    <header>
        <nav class="uk-navbar-container">
            <div class="uk-container">
                <div uk-navbar>
        
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo" href="{% url 'home' %}" aria-label="Back to Home">
                            <img src="{% get_media_prefix %}images/logo.png" alt="Logo" aria-label="Back to Home" style="height: 80px;">
                        </a>
                        <ul class="uk-navbar-nav">
                            <li class="{% if selected %}uk-active{% endif %}">
                                <a href="{% url 'cv_home' %}">Profile</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{% url 'cv_html' %}">HTML version</a></li>
                                        <li><a href="{% url 'cv_django' %}">Django version</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'all_projects' %}">Projects</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {% for project in projects %}
                                            <li><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
        
                    </div>
                    <div class="uk-navbar-right">
        
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#">login/register</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li class="uk-nav-header">Header</li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
        
                </div>
            </div>
        </nav>
        
    </header>
{% endblock %}
{% block main %}
    <!-- EMPTY -->
{% endblock %}
{% block footer %}
    <footer class="uk-section uk-margin-remove uk-section-small uk-section-muted">
        <div class="uk-container uk-flex">
            <div class="uk-container uk-margin-remove-left">
                <h2>Contact: </h2>
                <ul class="uk-list">
                    <li>
                        <a uk-icon="icon: mail" href="mailto:sabitshangerey@gmail.com" >e-mail</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/s_sabit" target="_blank" uk-icon="icon: instagram">instagram</a>
                    </li>
                    <li>
                        <a href="https://wa.me/+77086415391" target="_blank" uk-icon="icon: whatsapp">wahtsapp</a>
                    </li>
                    <li>
                        <a href="https://github.com/Tokagero13" target="_blank" uk-icon="icon: github">github</a>
                    </li>
                    <!-- <li class="uk-align-right">
                        <a href="{% url 'admin:index' %}" class="btn btn-primary">Go to Admin Panel</a>
                    </li> -->
                </ul>
            </div>
            <div class="uk-container uk-margin-remove">
                <a href="{% url 'admin:index' %}" class="btn btn-primary">Go to Admin Panel</a>
            </div>
        </div>
    </footer>
{% endblock %}
</body>
</html>
